@font-face {
  font-family: "Gotham";
  src: url("./../fonts/gotham-black.ttf");
}

header {
  position: relative;
  background: url("./../images/header_background.png") no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

header .header-left {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

header .header-left .header-left-top {
  margin: 15px;
  margin-left: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

header .header-left-bottom {
  position: absolute;
  background: #18b071;
  height: 40px;
  width: 650px;
  bottom: 0;
}

header .header-right {
  flex-basis: 70%;
  margin-left: auto;
}

header .header-right > nav.header-right-center, header .header-right > nav.header-right-top-menu {
  margin-right: 200px;
}

header .header-right .header-right-top-menu {
  text-align: right;
}

header .header-right .header-right-top-menu, header .header-right .header-right-top-menu a {
  color: white;
  font-family: "Trebuchet MS";
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}

header .header-right .header-right-top-menu a:hover {
  text-decoration: underline;
}

header .header-right .header-right-center {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: right;
  margin-left: auto;
  font-family: Gotham, sans-serif;
  font-size: 24px;
  color: white;
}

header .header-right .header-right-center div {
  display: inline-block;
}

header .header-right .header-right-center .header-right-center-buttom input[type="submit"] {
  background: #ffc500;
  border: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
  padding: 5px 25px;
}

header .header-right .header-right-bottom-menu {
  border-radius: 50px / 100px 0 0 0;
  height: 100px;
  background: #18b071;
}

header .header-right .header-right-bottom-menu ul {
  margin-left: 30px;
  display: table;
  padding-left: 0;
}

header .header-right .header-right-bottom-menu ul li {
  float: right;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style-type: none;
  position: relative;
}

header .header-right .header-right-bottom-menu ul li > div {
  display: flex;
}

header .header-right .header-right-bottom-menu ul li > div .header-left-bottom-hr {
  margin-bottom: 50px;
}

header .header-right .header-right-bottom-menu ul li a {
  text-decoration: none;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  line-height: 10px;
  margin-top: 40px;
}

header .header-right .header-right-bottom-menu ul li a:hover {
  color: #ffc500;
}

header .header-right .header-right-bottom-menu ul li hr {
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 0;
  height: 100px;
  width: 2px;
  background-image: -webkit-linear-gradient(top, #187f54, #18b071);
  background-image: -moz-linear-gradient(top, #187f54, #18b071);
  background-image: -ms-linear-gradient(top, #187f54, #18b071);
  background-image: -o-linear-gradient(top, #187f54, #18b071);
  background-image: linear-gradient(top, #187f54, #18b071);
}

main {
  position: relative;
  width: 100%;
  padding: 20px 0 !important;
  background: url("./../images/main_background.png") no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

main .main-div {
  background: white;
  margin: auto;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  width: 60%;
  overflow: hidden;
}

main .main-div .main-div-top {
  display: flex;
}

main .main-div .main-div-top .main-div-top-left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-first {
  margin-left: 60px;
  margin-top: 40px;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second {
  display: flex;
  padding: 15px;
  margin-left: 10px;
  background: url("./../images/main-left-second.png") no-repeat;
  -moz-background-size: 130%;
  -webkit-background-size: 130%;
  -o-background-size: 130%;
  background-size: 130%;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second .main-div-top-left-div-first {
  flex-basis: 30%;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second .main-div-top-left-div-second {
  flex-basis: 70%;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second .main-div-top-left-div-second .main-div-top-left-p-first {
  text-align: center;
  font-family: Gotham, sans-serif;
  color: #097749;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second .main-div-top-left-div-second .main-div-top-left-p-second {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #6b3963;
  text-align: center;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second .main-div-top-left-div-second form .main-div-top-left-div-third-button {
  margin-left: 35%;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second .main-div-top-left-div-second form .main-div-top-left-div-fourth-button {
  margin-left: 37%;
}

main .main-div .main-div-top .main-div-top-left .main-div-top-left-second .main-div-top-left-div-second input[type="submit"] {
  margin-left: auto;
  background: #0fb37f;
  border: none;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 25px;
  padding: 15px 35px;
}

main .main-div .main-div-top .main-div-top-right {
  flex-basis: 50%;
}

main .main-div .main-div-top .main-div-top-right .main-div-top-right-first {
  overflow: hidden;
  margin: 15px;
}

main .main-div .main-div-top .main-div-top-right .main-div-top-right-first img {
  border-radius: 15px;
}

main .main-div .main-div-center {
  background-color: #252525;
  margin: 10px;
  border-radius: 15px;
  width: 98%;
  position: relative;
  z-index: 50;
}

main .main-div .main-div-center .main-div-center-absolute-text {
  position: absolute;
  z-index: 501;
  bottom: 20px;
  right: 120px;
}

main .main-div .main-div-center .main-div-center-absolute-text .absolute-text-flex {
  display: flex;
}

main .main-div .main-div-center .main-div-center-absolute-text .absolute-text-flex .absolute-text-first {
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #ffc500;
}

main .main-div .main-div-center .main-div-center-absolute-text .absolute-text-flex .absolute-text-second {
  margin-top: 15px;
}

main .main-div .main-div-center .main-div-center-absolute-text .absolute-text-flex .absolute-text-second .absolute-text-second-first {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 12px;
  color: #ffc500;
}

main .main-div .main-div-center .main-div-center-absolute-text .absolute-text-flex .absolute-text-second .absolute-text-second-second {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

main .main-div .main-div-center .main-div-center-absolute-text .absolute-text-bottom {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 12px;
  color: #ffc500;
}

main .main-div .main-div-center .main-div-center-absolute-image {
  position: absolute;
  z-index: 500;
  bottom: 0;
  right: 50px;
}

main .main-div .main-div-center .main-div-center-left {
  z-index: 50;
  width: 82%;
}

main .main-div .main-div-center .main-div-center-absolute {
  display: none;
  position: absolute;
  width: 220px;
  height: 170px;
  border-radius: 15px;
  left: 570px;
  bottom: -20px;
  top: -30px;
  background-color: #252525;
  z-index: 0;
  padding-bottom: 15px;
}

main .main-div .main-div-center .main-div-center-absolute p {
  font-family: Gotham,sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: center;
}

main .main-div .main-div-center .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffc500;
  margin-left: 20px;
  margin-top: 100px;
}

main .main-div .main-div-center .arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffc500;
  margin-left: 45px;
  margin-top: 100px;
}

main .main-div .main-div-center .see-more {
  color: #ffc500;
  margin-left: 40px;
  margin-top: 100px;
}

.arrows {
  display: flex;
}

#owl-demo {
  display: block;
  margin: 25px;
}

#owl-demo .item {
  padding: 10px;
  padding-left: 30px;
  background: #3fbf79;
  margin: 10px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 600;
}

.owl-item {
  width: 190px;
  z-index: 600;
}

.slider-flex {
  display: flex;
  margin-top: 10px;
}

.owl-carousel-name {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #057d4c;
}

.owl-carousel-via {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #5f5f5f;
}

.slider-flex-right {
  margin-left: 5px;
}

.slider-flex-right .slider-flex-right-first {
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.slider-flex-right .slider-flex-right-second {
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #137c50;
}

.slider-flex-right .slider-flex-right-third {
  font-family: Arial,sans-serif;
  font-size: 11px;
  color: #898989;
}

.owl-prev, .owl-next {
  color: #ffc500;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 10px;
  height: 30px;
  margin: auto !important;
  left: 920px;
  top: 120px;
  z-index: 50;
}

.owl-carousel .owl-next {
  left: 1020px;
}

.main-div-center-content {
  margin-top: 20px;
  margin-left: 15px;
  display: flex;
}

.main-div-center-content .main-div-center-content-left, .main-div-center-content .main-div-center-content-right {
  display: flex;
  flex-direction: column;
}

.main-div-center-content .main-div-center-content-left {
  flex-basis: 58%;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-first .left-first-first {
  font-family: Gotham,sans-serif;
  font-size: 24px;
  color: #097749;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-first .left-first-second {
  font-family: Gotham,sans-serif;
  font-size: 24px;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-first .left-first-second a {
  color: #18b172;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-second {
  margin-top: 20px;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-second .left-second-first, .main-div-center-content .main-div-center-content-left .main-div-center-content-left-second .left-second-third {
  font-family: Gotham,sans-serif;
  font-size: 18px;
  color: #636363;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-second .left-second-second {
  margin-left: 10px;
  margin-right: 20px;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-second .left-second-second a {
  font-family: Arial,sans-serif;
  font-size: 12px;
  color: #097749;
}

.main-div-center-content .main-div-center-content-left .main-div-center-content-left-raw > div {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.main-content-span-first, .main-content-span-second, .main-content-span-third, .main-content-span-fourth, .main-content-span-fifth {
  font-family: Arial,sans-serif;
}

.main-content-span-first, .main-content-span-fifth a {
  font-weight: bold;
  color: #097749;
}

.main-content-span-second, .main-content-span-third {
  color: #5f5f5f;
}

.main-content-span-first {
  font-size: 12px;
}

.main-content-span-second {
  font-size: 12px;
}

.main-content-span-third {
  font-size: 14px;
}

.main-content-span-fourth a {
  font-size: 14px;
  color: #1ab374;
}

.main-div-center-content-left-raws-content {
  margin-left: 25px;
}

.main-div-center-content-left-raws-arrow {
  margin-left: auto;
  margin-left: 10px;
  margin-top: 25px;
}

.main-div-center-content-left-raws-number {
  margin-left: auto;
  font-family: Gotham, sans-serif;
  font-size: 40px;
  color: #097749;
  margin-top: 15px;
}

.main-div-center-content-left-raws-content-center {
  margin-bottom: 5px;
  margin-top: 5px;
}

.see-all-city-challenge {
  text-align: right;
  color: #097749;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 10px;
}

.see-all-city-challenge a {
  color: #097749;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.the-new-generation {
  margin: 20px;
  font-family: Gotham, sans-serif;
  font-size: 26px;
  color: #636363;
}

.hr {
  border: none;
  background-color: #ebebeb;
  height: 2px;
  width: 100%;
}

.news-content {
  margin: 20px;
  display: flex;
}

.news-content-raw-first > div {
  margin: 10px;
}

.news-content-raw-first .news-content-raw-first1, .news-content-raw-first .news-content-raw-first2, .news-content-raw-first .news-content-raw-first3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #097749;
}

.news-content-raw-first .news-content-raw-first2, .news-content-raw-first .news-content-raw-first3 {
  color: #5f5f5f;
  font-size: 12px;
}

.news-content-raw-first .news-content-raw-first2 .news-content-raw-first22, .news-content-raw-first .news-content-raw-first3 .news-content-raw-first22 {
  font-weight: normal;
  color: #5f5f5f;
}

.news-content-raw-second-rectangle {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ebebeb;
  width: 110px;
  height: 100px;
}

.news-content-raw-first, .news-content-raw-third {
  flex-basis: 40%;
}

.news-content-raw-third {
  margin: 10px;
}

.news-content-raw-third .news-content-raw-first1, .news-content-raw-third .news-content-raw-first2, .news-content-raw-third .news-content-raw-first3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #097749;
}

.news-content-raw-third .news-content-raw-first2, .news-content-raw-third .news-content-raw-first3 {
  color: #5f5f5f;
  font-size: 12px;
}

.news-content-raw-third .news-content-raw-first2 .news-content-raw-first22, .news-content-raw-third .news-content-raw-first3 .news-content-raw-first22 {
  font-weight: normal;
  color: #5f5f5f;
}

.main-div-center-content-right {
  margin-left: 10px;
  margin-right: 20px;
  flex-basis: 40%;
}

.main-div-center-content-right-first {
  margin-left: auto;
  text-align: right;
}

.main-div-center-content-right-first .main-div-center-content-right-first-p1, .main-div-center-content-right-first .main-div-center-content-right-first-p2 {
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}

.main-div-center-content-right-first .main-div-center-content-right-first-p1 a, .main-div-center-content-right-first .main-div-center-content-right-first-p2 a {
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #1ab374;
}

.main-div-center-content-right-second {
  margin-top: 30px;
  width: 100%;
}

.main-div-center-content-right-second input[type="submit"] {
  width: 100%;
  height: 75px;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
  font-family: Gotham, sans-serif;
  font-size: 26px;
  color: #898989;
}

.main-div-center-content-right-third {
  font-family: Gotham, sans-serif;
  font-size: 24px;
  color: #636363;
  margin: 20px 0;
}

#owl-demo2.owl-carousel {
  display: block;
}

.main-div-center-content-right-fourth {
  overflow: hidden;
  width: 500px;
  padding: 15px 0;
  border: solid 1px #e8e8e8;
}

.main-div-center-content-right-fourth .owl2-content {
  display: flex;
}

.owl-carousel-item-main {
  margin: 15px;
  display: flex;
}

.owl-carousel-item-main-first {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #5f5f5f;
  margin-bottom: 5px;
}

.owl-carousel-item-main-first span {
  font-weight: bold;
  color: #1ab374;
}

.owl-carousel-item-main-second {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #1ab374;
  font-weight: bold;
  margin: 25px 0;
}

.owl-carousel-item-main-third {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: bold;
  margin: 5px 0;
}

.owl-carousel-item-main-third a {
  color: #1ab374;
  color-font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.owl-carousel-item-main-img {
  margin-right: 10px;
}

.main-div-center-content-right-fifth {
  margin: 20px 0;
}

.main-div-center-content-right-fifth .main-div-center-content-right-fifth1 {
  margin-right: 15px;
  font-family: Gotham,sans-serif;
  font-size: 24px;
  color: #5f5f5f;
}

.main-div-center-content-right-fifth .main-div-center-content-right-fifth2 {
  color: #097749;
}

.main-div-center-content-right-fifth .main-div-center-content-right-fifth2 a {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #097749;
}

.main-div-center-content-right-sixth-item {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  margin: 15px 0;
  background-color: #ebebeb;
}

.main-div-center-content-right-sixth-item .main-div-center-content-right-sixth-item1 {
  padding-left: 10px;
  padding-right: 15px;
  border-right: 1px solid #cccccc;
}

.main-div-center-content-right-sixth-item .main-div-center-content-right-sixth-item1 .main-div-center-content-right-sixth-item11 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #898989;
}

.main-div-center-content-right-sixth-item .main-div-center-content-right-sixth-item1 .main-div-center-content-right-sixth-item12 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #898989;
}

.main-div-center-content-right-sixth-item .main-div-center-content-right-sixth-item2 {
  margin-left: 15px;
}

.main-div-center-content-right-sixth-item .main-div-center-content-right-sixth-item2 .main-div-center-content-right-sixth-item21 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #097749;
}

.main-div-center-content-right-sixth-item .main-div-center-content-right-sixth-item2 .main-div-center-content-right-sixth-item22 {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #5f5f5f;
}

.main-div-center-content-right-fifth2 {
  text-align: right;
}

footer {
  position: relative;
  background: url("./../images/footer-background.png") no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 120px;
  padding: 50px;
}

footer .footer-first {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

footer .footer-first > div {
  margin: 0 10px;
}

footer .footer-first .footer-first-menu-item-dot {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

footer .footer-first .footer-first-menu-item {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

footer .footer-first .footer-first-menu-item a {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

footer .footer-first .footer-first-menu-item a:hover {
  color: #ffbd00;
}

footer .footer-second {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.dropdown {
  position: relative;
}

#dropdown {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #18b071;
  left: -25px;
  top: 80px;
  padding-bottom: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#dropdown ul {
  margin: 0;
}

#dropdown ul li {
  margin-bottom: 0;
  float: left;
}

#dropdown ul li a {
  margin-left: 15px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.dropdown:hover #dropdown {
  display: block;
}

.mobile-nav {
  display: block;
}

.menu-btn {
  display: none;
}

.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}

.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: black;
  z-index: 99;
}

.responsive-menu ul li {
  margin: 10px;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
  color: #964415;
  list-style-type: none;
  border-bottom: solid 1px white;
}

.responsive-menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.responsive-menu {
  display: none;
}

.expand {
  display: block !important;
}

.responsive-menu ul li .responsive-menu-children {
  display: none;
}

@media screen and (max-width: 1900px) {
  header .header-right .header-right-bottom-menu ul {
    margin-right: 0;
  }
}

@media screen and (max-width: 540px) {
  .news-content {
    flex-wrap: wrap !important;
  }
  .news-content-raw-second {
    display: none;
  }
}

@media screen and (max-width: 644px) {
  .main-div-top-left {
    flex-basis: 100% !important;
  }
  .main-div-center-content-right-fourth, .main-div-center-content-right-second, .main-div-center-content-right-third {
    display: none;
  }
  .main-div-center-content-right {
    display: block;
    width: 100%;
  }
  .main-div-center-content-right-button {
    text-align: center;
  }
  .main-div-center-content-right-button input[type="submit"] {
    width: auto;
  }
  .header-right-top-menu {
    text-align: left !important;
  }
  .header-right-top-menu a {
    display: block;
    font-size: 24px !important;
  }
}

@media screen and (max-width: 840px) {
  .header-right-center {
    margin-right: 0;
    text-align: center !important;
  }
  .header-right-center div {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  #owl-demo {
    margin: 0;
  }
  .main-div-center-content-right {
    margin-right: 0 !important;
  }
  .main-div-top-left-div-third-button, .main-div-top-left-div-fourth-button {
    margin-left: 0 !important;
  }
  .main-div-top-left-second {
    text-align: center !important;
    background: #d9d9d9 !important;
  }
  .main-div-top-left-second .main-div-top-left-div-first {
    flex-basis: 0% !important;
  }
  .main-div-top-left-second .main-div-top-left-div-second {
    flex-basis: 100% !important;
  }
  .the-new-generation {
    text-align: center;
  }
  .header-right-top-menu a {
    font-size: 18px !important;
  }
  .main-div-center-content {
    flex-wrap: wrap;
  }
  .main-div-center-content-left {
    flex-basis: 100% !important;
  }
  .main-div-center-content-right {
    flex-basis: 100% !important;
    margin-left: 0;
  }
  .main-div-center-content-left-raws {
    justify-content: center;
    flex-wrap: wrap;
  }
  .main-div-center-content-left-raws .main-div-center-content-left-raws-number {
    margin-left: 20px;
  }
  header {
    justify-content: center;
  }
  header .header-right {
    margin-left: 0;
    flex-basis: auto;
  }
  header .header-right .header-right-top-menu {
    margin-right: 0 !important;
    margin-top: 20px;
  }
  header .header-right .header-right-center {
    margin-right: 0 !important;
  }
  header .header-left {
    flex-basis: auto;
  }
  header .header-left .header-left-top {
    margin-left: 0;
  }
}

.main-div-center-content-right-third {
  text-align: center;
}

.main-div-center-content-right-fourth {
  margin: 0 auto;
}

@media screen and (max-width: 1480px) {
  #nav-icon3 {
    display: block !important;
    position: fixed !important;
    z-index: 2000;
    top: 10px;
    left: 20px;
  }
  main {
    padding: 0 !important;
  }
  main .main-div .main-div-center #main-div-center-left {
    width: 96% !important;
  }
  .header-right-bottom-menu, .header-right-top-menu {
    display: none;
  }
  .main-div-top-right-first {
    display: none;
  }
  .main-div-center-absolute-image, .main-div-center-absolute-text {
    display: none;
  }
  .main-div-top {
    display: block;
  }
  .main-div-center-absolute {
    display: none;
  }
  .main-div-center-content {
    margin-left: 0;
  }
  .main-div-top-right {
    display: none;
  }
  .main-div-top {
    justify-content: center;
  }
  .main-div-top-left-first {
    margin-left: 0 !important;
  }
  .main-div-top-left-first img {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  footer {
    height: 100%;
  }
  .footer-first {
    display: block !important;
  }
  .footer-first .footer-first-menu-item a {
    font-size: 24px !important;
  }
}

@media screen and (min-width: 1920px) {
  .main-div-center-absolute {
    display: block !important;
  }
}

@media screen and (max-width: 1760px) {
  .main-div-top-right {
    width: 40% !important;
  }
  .main-div-center-content-right-first {
    display: none;
  }
  main {
    padding: 0;
  }
  main .main-div {
    width: 100%;
  }
  header .header-left-bottom {
    display: none;
  }
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  padding-top: 120px !important;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.side-nav a {
  font-family: Arial, sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  transition: margin-left .5s;
  padding: 20px;
}

.span-side-menu {
  display: none;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: grey;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
